CLIENT_ID=changeme
CLIENT_SECRET=changeme
ACCOUNT_SERVICE_URL=https://account.example.com
PLATFORM_INT_URL=https://platform-int.example.com
LICENSE_SERVER_BASE_URL=https://license.example.com
LICENSE_SERVER_JWKS_ENDPOINT=/.well-known/jwks.json
LICENSE_SERVER_ACTIVATION_ENDPOINT=/api/v1/activate
LICENSE_KEY=changeme
WONDER_API_URL=https://api.wonder.design
WONDER_API_KEY=
WONDER_KEY_SERVICE_NAME=Wonder
WONDER_AUTH_SCHEME=Bearer
